body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid #fff;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    color: #16FF00;
}

.cell:hover {
    background-color: black;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #16FF00;
    color: black;
    border: none;
    border-radius: 16px;
}
button:hover{
    background-color: crimson;
    color: white;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 1.2rem;
}
